.picker-date {
    margin-top:50px;
}

.alignElements {
    padding-top: 12px;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aceptTerm {
    color: #ba000d;
}