.grid { 
  margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.boxStyle {
  padding: 1.5rem;
}

.inputLogin {
  width:100%;
}

.styleTitle {
  text-align: center;
}

.rememberPass {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
}

.divButtonsLogin {
  padding-top: 12px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
